# Introduction to Data Structure in Python

## Variables and Assignment

In [1]:
x = 10

![](img/var1.jpg)

In [2]:
x = 'hello'

![](img/var3.jpg)

In [3]:
x = 2.7

![](img/var2.jpg)

In [4]:
y = 1.0

In [5]:
z = x + y
print(z)

3.7

## Lists

I want a list of numbers

In [6]:
items = [2.7, 3.1, 69.1]

![](img/list.jpg)

I want to print the second number in the list

In [7]:
print(items[1])

3.1

I want to print the length of the list

In [8]:
print(len(items))

3

I want to print all the numbers in the list

In [9]:
for item in items:
    print(item)

2.7
3.1
69.1

# Introduction to Pandas

## Data Frame
What is a data frame?

2-d matrix

![](img/table.jpg)

In [10]:
import pandas as pd

In [42]:
df = pd.read_csv("sample.csv")

In [12]:
df

      area  sales  profit
0    North      5       2
1     East     25       8
2     West     15       6
3    South     20       5
4  Central     10       3

In [13]:
x = pd.read_csv('sample1.csv', header=None)

In [14]:
x

         0   1  2
0    North   5  2
1     East  25  8
2     West  15  6
3    South  20  5
4  Central  10  3

In [15]:
df1

NameError: name 'df1' is not defined

In [ ]:
?pd.read_csv

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df['area']

0      North
1       East
2       West
3      South
4    Central
Name: area, dtype: object

In [18]:
type(df.area)

pandas.core.series.Series

In [19]:
df.dtypes

area      object
sales      int64
profit     int64
dtype: object

How many rows & columns does the dataframe have?

In [ ]:
?df.shape

I want to see the top 5 rows of the dataframe

In [20]:
df.shape

(5, 3)

In [22]:
df.head(2)

    area  sales  profit
0  North      5       2
1   East     25       8

In [33]:
df1 = df

In [24]:
df1

    area  sales  profit
0  North      5       2

I want to see the bottom 2 rows only

In [25]:
df.tail(2)

      area  sales  profit
3    South     20       5
4  Central     10       3

In [28]:
df.index = df.area

In [29]:
df.index

Index(['North', 'East', 'West', 'South', 'Central'], dtype='object', name='area')

In [30]:
df

            area  sales  profit
area
North      North      5       2
East        East     25       8
West        West     15       6
South      South     20       5
Central  Central     10       3

What are the column names?

In [31]:
df.columns

Index(['area', 'sales', 'profit'], dtype='object')

Show me the values of the dataframe. (exclude the column and index information)

In [35]:
df1.columns = ['a', 's', 'p']

In [36]:
df1

               a   s  p
area
North      North   5  2
East        East  25  8
West        West  15  6
South      South  20  5
Central  Central  10  3

In [37]:
df.values

array([['North', 5, 2],
       ['East', 25, 8],
       ['West', 15, 6],
       ['South', 20, 5],
       ['Central', 10, 3]], dtype=object)

In [38]:
type(df.values)

numpy.ndarray

Can I quickly get a sense of how the data is in the dataframe?
Information like min, max, mean etc

In [39]:
df.describe()

               s         p
count   5.000000  5.000000
mean   15.000000  4.800000
std     7.905694  2.387467
min     5.000000  2.000000
25%    10.000000  3.000000
50%    15.000000  5.000000
75%    20.000000  6.000000
max    25.000000  8.000000

In [40]:
df

               a   s  p
area
North      North   5  2
East        East  25  8
West        West  15  6
South      South  20  5
Central  Central  10  3

In [41]:
df.sales.head(2)

AttributeError: 'DataFrame' object has no attribute 'sales'

I want to sort the dataframe based on sales in descending order

In [45]:
df.sort_values(by="sales", ascending=False)

      area  sales  profit
1     East     25       8
3    South     20       5
2     West     15       6
4  Central     10       3
0    North      5       2

In [43]:
df.sort_values(by='sales', ascending=False)

      area  sales  profit
1     East     25       8
3    South     20       5
2     West     15       6
4  Central     10       3
0    North      5       2

In [ ]:
df.sort_values(by=['sales', "profit"], ascending=False)

I want to do the same, but based on profit column

In [ ]:
df.sort_values(by='profit', ascending=False)

I want to find the area with least profit & sales

In [ ]:
df.sort_values(by=['sales','profit'], ascending=True)

I want to view the sales alone

In [47]:
df

      area  sales  profit
0    North      5       2
1     East     25       8
2     West     15       6
3    South     20       5
4  Central     10       3

In [52]:
df.loc[2,"sales"]

15

In [58]:
df.iloc[2,1]

15

In [54]:
df.sales[2]

15

In [72]:
df

      area  sales  profit
0    North      5       2
1     East     25       8
2     West     15       6
3    South     20       5
4  Central     10       3

In [73]:
df.loc[[2,3],['sales', 'area']]

   sales   area
2     15   West
3     20  South

In [75]:
df[['sales', 'area']]

   sales     area
0      5    North
1     25     East
2     15     West
3     20    South
4     10  Central

In [57]:
df["sales",2]

KeyError: ('sales', 2)

In [ ]:
df.sales

I want to view just sales & profit columns, not the area names

In [ ]:
df.sales

In [ ]:
df['sales']

In [ ]:
df

In [ ]:
df.index

In [ ]:
df.index = df.area

In [ ]:
df.index

In [ ]:
df = pd.read_csv('sample.csv')

In [ ]:
df.index = df.area

In [ ]:
df

In [ ]:
df.loc['West':'East', ['sales', 'profit']]

I want the third row of the dataframe

In [ ]:
df.loc[2, :]

I want the third row, sales & profit columns

In [ ]:
df.loc[2, ['sales', 'profit']]

I want rows between index 2 and 3, and column 2 only

In [ ]:
df.index = df.area
df

In [ ]:
df.iloc[0:3, 1:2]

In [ ]:
df.ix[0:3, 1:2]