In [84]:
library(dplyr)
library(tidyr)
library(ggplot2)
library(stringr)

In [85]:
df <- read.csv("data/cars.csv")
colnames(df)

 [1] "name"
 [2] "model"
 [3] "url"
 [4] "price"
 [5] "type"
 [6] "ABS"
 [7] "Acceleration..0.100.kmph."
 [8] "Air.Conditioner"
 [9] "Audio.Controls.on.Streeing.Wheel"
[10] "Audio.System..with.remote."
[11] "Bluetooth.Connectivity"
[12] "Body.Coloured.Bumpers"
[13] "Boot.Space..litres."
[14] "Brakes.Front"
[15] "Brakes.Rear"
[16] "CD.Player"
[17] "Central.Locking"
[18] "Clean.Air.Filter"
[19] "Cruise.Control"
[20] "Door.Ajar.Warning"
[21] "Driver.Seatbelt.Warning"
[22] "Dual.SRS.Airbags..D.P."
[23] "EBD"
[24] "Engine.Size..cc."
[25] "Engine.Type"
[26] "Front.Track"
[27] "Front.Tyres"
[28] "Fuel.Supply.System"
[29] "Fuel.Tank.Capacity..litres."
[30] "Fuel.Type"
[31] "Full.Wheel.Caps"
[32] "Gross.Weight..kg."
[33] "Ground.Clearance..mm."
[34] "Heater"
[35] "Immobiliser"
[36] "Kerb.Weight..kg."
[37] "Keyless.Entry"
[38] "Max.Power..bhp...rpm."
[39] "Max.Torque..Nm...rpm."
[40] "Mileage.in.City..kmpl."
[41] "Mileage.on.Highway..kmpl."
[42] "No..of.Cylinders"
[43] "Overall.Length.mm..x.Width.mm..x.Height.mm."
[44] "Panoramic.Sunroof"
[45] "Passenger.Airbags"
[46] "Power.Steering"
[47] "Power.Windows..Front."
[48] "Power.Windows..Rear."
[49] "Rain.Sensing.Wipers"
[50] "Rear.Track"
[51] "Rear.Tyres"
[52] "Seat.Capacity"
[53] "Speakers"
[54] "Tilt.Function"
[55] "Top.Speed..kmph."
[56] "Traction.Control"
[57] "Transmission.Type"
[58] "Tubeless.Tyres"
[59] "Turning.Circle.Radius..metres."
[60] "USB...Auxiliary.Input"
[61] "Wheelbase..mm."
[62] "brand"

In [86]:
head(df, 3)

                 name                                 model
1 Ashok Leyland Stile Ashok Leyland Stile LE 8-STR (Diesel)
2 Ashok Leyland Stile Ashok Leyland Stile LS 8-STR (Diesel)
3 Ashok Leyland Stile Ashok Leyland Stile LX 8-STR (Diesel)
                                                                       url
1 http://carzoom.in/car-specification/ashok-leyland-stile-le-8-str-diesel/
2 http://carzoom.in/car-specification/ashok-leyland-stile-ls-8-str-diesel/
3 http://carzoom.in/car-specification/ashok-leyland-stile-lx-8-str-diesel/
   price type ABS Acceleration..0.100.kmph. Air.Conditioner
1 749990  MPV  No                      18.7          Manual
2 799990  MPV  No                      18.7          Manual
3 829990  MPV  No                      18.7          Manual
  Audio.Controls.on.Streeing.Wheel Audio.System..with.remote.
1                               No                         No
2                               No                         No
3                               No                         No
  Bluetooth.Connectivity Body.Coloured.Bumpers Boot.Space..litres. Brakes.Front
1                     No                   Yes                 500         Disc
2                     No                   Yes                 500         Disc
3                     No                   Yes                 500         Disc
  Brakes.Rear CD.Player Central.Locking Clean.Air.Filter Cruise.Control
1        Drum        No              No              Yes             No
2        Drum        No             Yes               No             No
3        Drum        No             Yes              Yes             No
  Door.Ajar.Warning Driver.Seatbelt.Warning Dual.SRS.Airbags..D.P. EBD
1                No                      No                     No  No
2                No                      No                     No  No
3                No                      No                     No  No
  Engine.Size..cc.                                   Engine.Type Front.Track
1             1461  Turbo-intercooled, Common Rail Diesel Engine        <NA>
2             1461  Turbo-intercooled, Common Rail Diesel Engine        <NA>
3             1461  Turbo-intercooled, Common Rail Diesel Engine        <NA>
  Front.Tyres Fuel.Supply.System Fuel.Tank.Capacity..litres. Fuel.Type
1     165 R14               CRDi                          50    Diesel
2     165 R14               CRDi                          50    Diesel
3     165 R14               CRDi                          50    Diesel
  Full.Wheel.Caps Gross.Weight..kg. Ground.Clearance..mm. Heater Immobiliser
1             Yes              2000                   180    Yes         Yes
2              No              2000                   180    Yes         Yes
3              No              2000                   180    Yes         Yes
  Kerb.Weight..kg. Keyless.Entry Max.Power..bhp...rpm. Max.Torque..Nm...rpm.
1             1426            No             75 @ 3300       185 @ 1750-2750
2             1426            No             75 @ 3300       185 @ 1750-2750
3             1426            No             75 @ 3300       185 @ 1750-2750
  Mileage.in.City..kmpl. Mileage.on.Highway..kmpl. No..of.Cylinders
1                   16.2                      20.7                4
2                   16.2                      20.7                4
3                   16.2                      20.7                4
  Overall.Length.mm..x.Width.mm..x.Height.mm. Panoramic.Sunroof
1                          4400 x 1700 x 1860                No
2                          4400 x 1700 x 1860                No
3                          4400 x 1700 x 1860                No
  Passenger.Airbags Power.Steering Power.Windows..Front. Power.Windows..Rear.
1                No            Yes                    No                   No
2                No            Yes                   Yes                   No
3                No            Yes                   Yes                   No
  Rain.Sensing.Wipers Rear.Track Rear.Tyres Seat.Capacity Speakers
1                  No       <NA>    165 R14             8       No
2                  No       <NA>    165 R14             8       No
3                  No       <NA>    165 R14             8       No
  Tilt.Function Top.Speed..kmph. Traction.Control Transmission.Type
1           Yes              140               No    5 Speed Manual
2           Yes              140               No    5 Speed Manual
3           Yes              140               No    5 Speed Manual
  Tubeless.Tyres Turning.Circle.Radius..metres. USB...Auxiliary.Input
1            Yes                            5.2                    No
2            Yes                            5.2                    No
3            Yes                            5.2                    No
  Wheelbase..mm. brand
1           2725 Ashok
2           2725 Ashok
3           2725 Ashok

In [87]:
length(unique(df$name))

[1] 203

## Rows to Consider

consider the base model for each vehicle

## Columns to consider

* name
* price
* type
* Engine.Size..cc.
* Fuel.Type
* Gross.Weight..kg.
* Ground.Clearance..mm.
* Max.Power..bhp...rpm.
* Mileage.in.City..kmpl.
* Mileage.on.Highway..kmpl.
* No..of.Cylinders
* Seat.Capacity
* Transmission.Type
* brand

In [88]:
cleaned_df <- select(df, name, model, price, type, Engine.Size..cc., Fuel.Type, Gross.Weight..kg.,
       Ground.Clearance..mm., Max.Power..bhp...rpm., Mileage.in.City..kmpl., Mileage.on.Highway..kmpl.,
      No..of.Cylinders, Seat.Capacity, Transmission.Type, brand)

In [89]:
colnames(cleaned_df) <- c("name", "model", "price", "type", "engine", "fuel", "weight",
                         "clearance", "max_power_bhp_rpm", "mileage_city", "mileage_highway",
                         "cylinders", "seats", "transmission_type", "brand")

In [90]:
colnames(cleaned_df)

 [1] "name"              "model"             "price"
 [4] "type"              "engine"            "fuel"
 [7] "weight"            "clearance"         "max_power_bhp_rpm"
[10] "mileage_city"      "mileage_highway"   "cylinders"
[13] "seats"             "transmission_type" "brand"

In [91]:
head(cleaned_df, 3)

                 name                                 model  price type engine
1 Ashok Leyland Stile Ashok Leyland Stile LE 8-STR (Diesel) 749990  MPV   1461
2 Ashok Leyland Stile Ashok Leyland Stile LS 8-STR (Diesel) 799990  MPV   1461
3 Ashok Leyland Stile Ashok Leyland Stile LX 8-STR (Diesel) 829990  MPV   1461
     fuel weight clearance max_power_bhp_rpm mileage_city mileage_highway
1  Diesel   2000       180         75 @ 3300         16.2            20.7
2  Diesel   2000       180         75 @ 3300         16.2            20.7
3  Diesel   2000       180         75 @ 3300         16.2            20.7
  cylinders seats transmission_type brand
1         4     8    5 Speed Manual Ashok
2         4     8    5 Speed Manual Ashok
3         4     8    5 Speed Manual Ashok

In [92]:
unique(cleaned_df$transmission_type)

 [1]  5 Speed Manual     6 Speed Automatic  6 Speed Manual     7 Speed Automatic
 [5]  Automatic          8 Speed Automatic  7 Speed           <NA>
 [9]  5 Speed Automatic  Manual             4 Speed Automatic  4 Speed Manual
11 Levels:  4 Speed Automatic  4 Speed Manual ...  Manual

In [93]:
getNumGear <- function(row) {
    return(unlist(strsplit(row, split = " "))[1])
}

In [94]:
transmission <- data.frame(as.character(cleaned_df[,"transmission_type"]))
head(transmission)

  as.character.cleaned_df....transmission_type...
1                                  5 Speed Manual
2                                  5 Speed Manual
3                                  5 Speed Manual
4                                  5 Speed Manual
5                                  5 Speed Manual
6                                  5 Speed Manual

In [95]:
transmission[,1] <- as.character(transmission[,1])

In [96]:
class(transmission[,1])

[1] "character"

In [97]:
transmission[1,1]

[1] " 5 Speed Manual"

In [98]:
transmission[,1] <- apply(transmission, 2, function(x) trimws(x))

In [99]:
head(transmission)

  as.character.cleaned_df....transmission_type...
1                                  5 Speed Manual
2                                  5 Speed Manual
3                                  5 Speed Manual
4                                  5 Speed Manual
5                                  5 Speed Manual
6                                  5 Speed Manual

In [100]:
gearNumbers <- apply(transmission, 1, function(x) getNumGear(x))

In [101]:
gearNumbers[is.na(gearNumbers)] <- 4

In [102]:
table(gearNumbers)

gearNumbers
        4         5         6         7         8 Automatic    Manual
       27       513       141        74        72         5         1

In [103]:
gearNumbers[gearNumbers=="Automatic"] = 5

In [104]:
table(gearNumbers)

gearNumbers
     4      5      6      7      8 Manual
    27    518    141     74     72      1

In [105]:
gearNumbers[gearNumbers=="Manual"] = 5

In [106]:
table(gearNumbers)

gearNumbers
  4   5   6   7   8
 27 519 141  74  72

In [107]:
gearNumbers <- as.numeric(gearNumbers)

In [108]:
class(gearNumbers)

[1] "numeric"

In [109]:
table(gearNumbers)

gearNumbers
  4   5   6   7   8
 27 519 141  74  72

In [110]:
cleaned_df$gears <- gearNumbers

In [111]:
head(cleaned_df)

                 name                                       model  price type
1 Ashok Leyland Stile       Ashok Leyland Stile LE 8-STR (Diesel) 749990  MPV
2 Ashok Leyland Stile       Ashok Leyland Stile LS 8-STR (Diesel) 799990  MPV
3 Ashok Leyland Stile       Ashok Leyland Stile LX 8-STR (Diesel) 829990  MPV
4 Ashok Leyland Stile       Ashok Leyland Stile LS 7-STR (Diesel) 849990  MPV
5 Ashok Leyland Stile Ashok Leyland Stile LS 7-STR Alloy (Diesel) 879990  MPV
6 Ashok Leyland Stile       Ashok Leyland Stile LX 7-STR (Diesel) 899990  MPV
  engine    fuel weight clearance max_power_bhp_rpm mileage_city
1   1461  Diesel   2000       180         75 @ 3300         16.2
2   1461  Diesel   2000       180         75 @ 3300         16.2
3   1461  Diesel   2000       180         75 @ 3300         16.2
4   1461  Diesel   2000       180         75 @ 3300         16.2
5   1461  Diesel   2000       180         75 @ 3300         16.2
6   1461  Diesel   2000       180         75 @ 3300         16.2
  mileage_highway cylinders seats transmission_type brand gears
1            20.7         4     8    5 Speed Manual Ashok     5
2            20.7         4     8    5 Speed Manual Ashok     5
3            20.7         4     8    5 Speed Manual Ashok     5
4            20.7         4     7    5 Speed Manual Ashok     5
5            20.7         4     7    5 Speed Manual Ashok     5
6            20.7         4     7    5 Speed Manual Ashok     5

In [112]:
getTransmissionType <- function(row) {
    if (is.na(row) || row == "Manual") {
        return("Manual")
    }
    
    if (row == "Automatic") {
        return("Automatic")
    }
    
    return(unlist(strsplit(row, split = " "))[3])
        
}

In [113]:
getTransmissionType(NA)

[1] "Manual"

In [114]:
#transmission <- data.frame(as.character(cleaned_df[,"transmission_type"]))
head(transmission)

  as.character.cleaned_df....transmission_type...
1                                  5 Speed Manual
2                                  5 Speed Manual
3                                  5 Speed Manual
4                                  5 Speed Manual
5                                  5 Speed Manual
6                                  5 Speed Manual

In [115]:
unique(transmission)

    as.character.cleaned_df....transmission_type...
1                                    5 Speed Manual
8                                 6 Speed Automatic
9                                    6 Speed Manual
12                                7 Speed Automatic
22                                        Automatic
26                                8 Speed Automatic
36                                          7 Speed
67                                             <NA>
191                               5 Speed Automatic
194                                          Manual
263                               4 Speed Automatic
436                                  4 Speed Manual

In [116]:
transmissionType <- apply(transmission, 1, function(x) getTransmissionType(x))

In [117]:
head(transmissionType)

[1] "Manual" "Manual" "Manual" "Manual" "Manual" "Manual"

In [118]:
table(transmissionType)

transmissionType
Automatic    Manual
      245       587

In [119]:
cleaned_df$transmission <- transmissionType
head(cleaned_df)

                 name                                       model  price type
1 Ashok Leyland Stile       Ashok Leyland Stile LE 8-STR (Diesel) 749990  MPV
2 Ashok Leyland Stile       Ashok Leyland Stile LS 8-STR (Diesel) 799990  MPV
3 Ashok Leyland Stile       Ashok Leyland Stile LX 8-STR (Diesel) 829990  MPV
4 Ashok Leyland Stile       Ashok Leyland Stile LS 7-STR (Diesel) 849990  MPV
5 Ashok Leyland Stile Ashok Leyland Stile LS 7-STR Alloy (Diesel) 879990  MPV
6 Ashok Leyland Stile       Ashok Leyland Stile LX 7-STR (Diesel) 899990  MPV
  engine    fuel weight clearance max_power_bhp_rpm mileage_city
1   1461  Diesel   2000       180         75 @ 3300         16.2
2   1461  Diesel   2000       180         75 @ 3300         16.2
3   1461  Diesel   2000       180         75 @ 3300         16.2
4   1461  Diesel   2000       180         75 @ 3300         16.2
5   1461  Diesel   2000       180         75 @ 3300         16.2
6   1461  Diesel   2000       180         75 @ 3300         16.2
  mileage_highway cylinders seats transmission_type brand gears transmission
1            20.7         4     8    5 Speed Manual Ashok     5       Manual
2            20.7         4     8    5 Speed Manual Ashok     5       Manual
3            20.7         4     8    5 Speed Manual Ashok     5       Manual
4            20.7         4     7    5 Speed Manual Ashok     5       Manual
5            20.7         4     7    5 Speed Manual Ashok     5       Manual
6            20.7         4     7    5 Speed Manual Ashok     5       Manual

In [120]:
getMaxBHP <- function(row) {
    return(trimws(unlist(strsplit(row, split = "@"))[1]))
}

In [121]:
cleaned_df <- cleaned_df %>% 
                separate(max_power_bhp_rpm, c("bhp", "rpm"), sep = "@")

Warning message:
: Too few values at 1 locations: 454

In [122]:
head(cleaned_df, 3)

                 name                                 model  price type engine
1 Ashok Leyland Stile Ashok Leyland Stile LE 8-STR (Diesel) 749990  MPV   1461
2 Ashok Leyland Stile Ashok Leyland Stile LS 8-STR (Diesel) 799990  MPV   1461
3 Ashok Leyland Stile Ashok Leyland Stile LX 8-STR (Diesel) 829990  MPV   1461
     fuel weight clearance  bhp   rpm mileage_city mileage_highway cylinders
1  Diesel   2000       180  75   3300         16.2            20.7         4
2  Diesel   2000       180  75   3300         16.2            20.7         4
3  Diesel   2000       180  75   3300         16.2            20.7         4
  seats transmission_type brand gears transmission
1     8    5 Speed Manual Ashok     5       Manual
2     8    5 Speed Manual Ashok     5       Manual
3     8    5 Speed Manual Ashok     5       Manual

In [123]:
table(cleaned_df$fuel)

    CNG  Diesel     LPG  Petrol
     13     441       3     367

In [124]:
table(cleaned_df$clearance)

  100   109   110   114   117   118   120   123   124   125   128   131   134
   10     3     1     1     1     1     9     1     2     2     6     5     2
  135   136   140   142   145   146   147   150   151   152   154   155   157
   12     4     4     8    11     2     1    11     2     1    13    12     1
  158   159   160   161   163   165   167   168   170   172   174   175   176
    4    11    29    19    10   147     3    42    93     9    19    27     1
  177   179   180   181   183   184   185   186   187   189   190   195   200
    1     3    47     3     3     9    24     9     2    10    14     2    29
  201 204.8   205   206   209   210   212   215   220   223   227   238 239.8
    2     1    34     3     1    13     4     6     5     2     5     2     1
  240 295.5  2501
    1     6     2

In [125]:
table(cleaned_df$type)

   Cabriolet  Convertible        Coupe    Hatchabck    hatchback    Hatchback
           1            4           33            1            1          213
    Hatchback‎       Luxury Luxury Sedan          MPV          MUV       Saloon
           7            2            1           47           32            1
Saloon Sedan       Seadan        Seadn        Sedan       Sedans        Sedna
           1            1            1          286            1            1
 Sport Coupe     Supercar          SUV          Van          VAN
           1            4          188            1            4

In [126]:
cleaned_df$type[cleaned_df$type == "Seadan" ] = "Sedan"
cleaned_df$type[cleaned_df$type == "Sedna" | cleaned_df$type == "Sedans" | cleaned_df$type == "Seadn"] = "Sedan"
table(cleaned_df$type)

   Cabriolet  Convertible        Coupe    Hatchabck    hatchback    Hatchback
           1            4           33            1            1          213
    Hatchback‎       Luxury Luxury Sedan          MPV          MUV       Saloon
           7            2            1           47           32            1
Saloon Sedan       Seadan        Seadn        Sedan       Sedans        Sedna
           1            0            0          290            0            0
 Sport Coupe     Supercar          SUV          Van          VAN
           1            4          188            1            4

In [127]:
cleaned_df$type[cleaned_df$type == "Hatchback" | cleaned_df$type == "Hatchabck" | 
                cleaned_df$type == "hatchback" | cleaned_df$type == "Hatchback"] = "Hatchback"
table(cleaned_df$type)

   Cabriolet  Convertible        Coupe    Hatchabck    hatchback    Hatchback
           1            4           33            0            0          215
    Hatchback‎       Luxury Luxury Sedan          MPV          MUV       Saloon
           7            2            1           47           32            1
Saloon Sedan       Seadan        Seadn        Sedan       Sedans        Sedna
           1            0            0          290            0            0
 Sport Coupe     Supercar          SUV          Van          VAN
           1            4          188            1            4

In [128]:
unique(trimws(cleaned_df$type))

 [1] "MPV"          "Sedan"        "Coupe"        "Cabriolet"    "SUV"
 [6] "Luxury"       "Luxury Sedan" "Convertible"  "Hatchback‎"     "Hatchback"
[11] "MUV"          "Sport Coupe"  "Supercar"     "Saloon"       "Saloon Sedan"
[16] NA             "VAN"          "Van"

In [129]:
cleaned_df$type[cleaned_df$type == "VAN" ] = "Van"

In [130]:
unique(cleaned_df$type)

 [1] MPV          Sedan        Coupe        Cabriolet    SUV
 [6] Luxury       Luxury Sedan Convertible  Hatchback‎     Hatchback
[11] MUV          Sport Coupe  Supercar     Saloon       Saloon Sedan
[16] <NA>         Van
23 Levels: Cabriolet Convertible Coupe Hatchabck hatchback ... VAN

In [131]:
cleaned_df$model[is.na(cleaned_df$type)]

[1] Porsche Boxster GTS
832 Levels: Ashok Leyland Stile LE 8-STR (Diesel) ...

In [132]:
unique(cleaned_df$type)

 [1] MPV          Sedan        Coupe        Cabriolet    SUV
 [6] Luxury       Luxury Sedan Convertible  Hatchback‎     Hatchback
[11] MUV          Sport Coupe  Supercar     Saloon       Saloon Sedan
[16] <NA>         Van
23 Levels: Cabriolet Convertible Coupe Hatchabck hatchback ... VAN

In [133]:
table(cleaned_df$engine)

   3  624  793  796  814  936  995  998  999 1086 1120 1149 1172 1193 1196 1197
   3    8    4   13    5    4    3   24    2    3    9    1    2   13    6   39
1198 1199 1248 1298 1364 1368 1373 1390 1395 1396 1399 1405 1448 1461 1493 1496
  38   17   59    2   15   10   10    2    2   17   11    7    1   70    4    8
1497 1498 1499 1582 1586 1591 1595 1596 1598 1797 1798 1948 1968 1969 1984 1991
   6   43    5    8    4    4    2    4   25    3   12    2   26    4    8    7
1995 1997 1998 1999 2143 2149 2179 2199 2200 2231 2354 2359 2393 2400 2477 2489
  17    3    4    2    9    2   52    3    1    2    1    2    4    2    2    4
2496 2498 2499 2523 2650 2696 2953 2956 2967 2979 2982 2987 2993 2995 2996 2997
   2    1   10    6    1    3    2    8    7    5    6    3   13    5    1    1
2999 3436 3496 3498 3597 3604 3800 3993 4134 4163 4297 4367 4395 4499 4663 4735
   1    5    1    2    1    1    1    3    3    4    1    3    4    1    1    3
4806 4999 5000 5204 5461 5935 5972 5998 5999 6208 6262 6299 6592
   1    2   10    4    4    4    1    4    1    1    1    1    2

In [134]:
table(cleaned_df$cylinders)

  10   12    2    3    4    5    6    8  Yes
   4    8   13   86  609   10   44   41    1

In [135]:
str(cleaned_df)

'data.frame':	833 obs. of  18 variables:
 $ name             : Factor w/ 203 levels "Ashok Leyland Stile",..: 1 1 1 1 1 1 1 2 3 4 ...
 $ model            : Factor w/ 832 levels "Ashok Leyland Stile LE 8-STR (Diesel)",..: 1 4 7 3 2 6 5 8 9 10 ...
 $ price            : num  749990 799990 829990 849990 879990 ...
 $ type             : Factor w/ 23 levels "Cabriolet","Convertible",..: 10 10 10 10 10 10 10 16 16 3 ...
 $ engine           : int  1461 1461 1461 1461 1461 1461 1461 5935 5935 5935 ...
 $ fuel             : Factor w/ 4 levels " CNG"," Diesel",..: 2 2 2 2 2 2 2 4 4 4 ...
 $ weight           : Factor w/ 134 levels " 1185"," 1210",..: 68 68 68 68 68 68 68 NA 67 NA ...
 $ clearance        : num  180 180 180 180 180 180 180 120 110 120 ...
 $ bhp              : chr  " 75 " " 75 " " 75 " " 75 " ...
 $ rpm              : chr  " 3300" " 3300" " 3300" " 3300" ...
 $ mileage_city     : Factor w/ 161 levels " 10"," 10.0",..: 67 67 67 67 67 67 67 NA 122 134 ...
 $ mileage_highway  : Factor w/ 285 levels " 10.0"," 10.1",..: 198 198 198 198 198 198 198 262 26 278 ...
 $ cylinders        : Factor w/ 9 levels " 10"," 12"," 2",..: 5 5 5 5 5 5 NA 5 2 2 ...
 $ seats            : Factor w/ 13 levels " 10"," 2"," 4",..: 9 9 9 6 6 6 6 3 3 2 ...
 $ transmission_type: Factor w/ 11 levels " 4 Speed Automatic",..: 4 4 4 4 4 4 4 5 6 6 ...
 $ brand            : Factor w/ 38 levels "Ashok","Aston",..: 1 1 1 1 1 1 1 2 2 2 ...
 $ gears            : num  5 5 5 5 5 5 5 6 6 6 ...
 $ transmission     : chr  "Manual" "Manual" "Manual" "Manual" ...

In [136]:
cleaned_df$cylinders <- as.character(cleaned_df$cylinders)

In [137]:
unique(cleaned_df$cylinders)

 [1] " 4"   NA     " 12"  " 8"   " 6"   " 10"  " 3"   " 2"   " 5"   " Yes"

In [138]:
filter(cleaned_df, cylinders == " Yes")

       name                 model  price      type engine    fuel weight
1 Tata Zest Tata Zest XM (Petrol) 544315 Hatchback   1193  Petrol   <NA>
  clearance    bhp   rpm mileage_city mileage_highway cylinders seats
1       175  88.8   5000         13.2            17.6       Yes     5
  transmission_type brand gears transmission
1    5 Speed Manual  Tata     5       Manual

In [139]:
cleaned_df$cylinders[cleaned_df$cylinders == " Yes"] = " 4"

In [140]:
table(cleaned_df$cylinders)

 10  12   2   3   4   5   6   8
  4   8  13  86 610  10  44  41

In [141]:
table(cleaned_df$mileage_city)

    10   10.0   10.1   10.2  10.34   10.5   10.6   10.7   10.8   10.9   11.0
     1      2      1      2      1      2      1      2      4      2      3
  11.2   11.3  11.38   11.4   11.5   11.8   11.9     12    1.2   12.0  12.02
     2      4      8      3      1      2      2      4      1     20      3
 12.08   12.2   12.3  12.36   12.4  12.82     13   13.0   13.1   13.2   13.3
     3      1      5      1      2      1      2      5      1      6      9
 13.35   13.4  13.45   13.5   13.7   13.8     14   14.0  14.02   14.1  14,12
     1      3      3     14      1      1      1      5      2      1      1
 14.12  14.21  14.25   14.3  14.44  14.54   14.7     15   15.0   15.1  15.16
     2      1      1      2      3      2      3      5     15      5      2
 15.22  15.24  15.54   15.6   15.7  15.77   15.9   16.0  16.04  16.08   16.1
     3      2      1      5      5      2     10      3      1      5     10
  16.2  16.24   16.3  16.36   16.8     17   17.0  17.08   17.1   17.2  17.25
    15      3      9      1      6      4     14      7      5      9      8
  17.4   17.5   17.9   18.0  18.04  18.08   18.2   18.3   18.4   18.5   18.6
     1      4      1     10      1      4      4      3      9     10      6
  18.9   19.0  19.03   19.2   19.5   19.7   19.9    2.0  20.04   20.2  20.32
     9     12      2      5      1      2      2      2      3      1      9
  20.4   20.8   20.9     21   21.0     22   22.0   22.3   22.4   23.6   23.8
     6      1      4      5      4      1      1      1      4      2      4
  25.0  25.02   28.0  28.29    4.0    4.5   4.85      5    5.0    5.3    5.5
     1      1      1      3      2      1      1      3      1      1      1
   5.6    5.7    5.8    6.0   6.12   6.13    6.2   6.28    6.3    6.4    6.5
     2      1      1      3      1      1      1      1      2      1      1
   6.9      7    7.0    7.1   7.14   7.16    7.2   7.32   7.69    7.7    7.9
     1      1      1      1      1      2      3      2      1      1      1
     8    8.0   8.03   8.19    8.2    8.4   8.45    8.5   8.69    8.9      9
     1      2      2      2      1      3      1      1      1      2      4
   9.0   9.02   9.12    9.2   9.25    9.5    9.8
     3      7      1      1      1      5      2

In [142]:
table(cleaned_df$mileage_highway)

  10.0   10.1  10.10   10.2   10.3  10.34  10.37   10.4  10.41   10.7  10.75
     3      1      1      1      3      1      2      1      1      1      2
 10.77   10.9  10.98   11.1  11.11  11.23  11.33   11.4  11.49   11.5   11.6
     1      1      1      2      1      1      1      3      2      2      3
  11.7   11.8  11.81   11.9  11.96     12   12.0  12.05  12.07  12.12   12.2
     2      1      1      2      2      1      7      7      1      1      1
 12.35  12.39   12.4  12.45   12.5  12.55  12.67   12.8     13   13.0  13.05
     1      2      2      1      2      5      2      1      3      2      1
 13.08   13.1  13.15   13.2  13.22  13.24  13.25   13.3  13.32  13.49   13.5
     1      3      1      1      1      2      1      3      3      1      4
 13.53  13.55  13.58   13.7   13.8  13.85   13.9  13.93     14   14,0   14.0
     1      4      9      7      2      1      4      4      4      1      7
 14.02  14.07  14.09   14.1  14.16   14.2  14.28   14.3   14.4  14.49   14.5
     5      3      3      3      1      1      1      4      4      1      1
 14.53  14.56  14.57   14.6  14.69   14.7  14.74  14.79   14.8  14.81   14.9
     5      1      1      1      2     10      1      1      1      1      2
 14.94     15   15.0  15.04  15.05   15.1  15.16  15.33  15.35  15.42   15.5
     1      2      5      1      3      8      8      4      1      3      5
  15.6  15.62  15.64   15.7  15.73   15.8  15.96     16   16.0  16.02  16.09
     3      1      1      4      2      5      3      1      2      3      3
 16.12  16.15   16.2  16.26   16.3  16.36   16.4  16.47   16.5  16.51  16.55
     1      1      5      1      4      1      1      3      2      3      2
  16.6  16.60  16.66  16.73  16.78   16.8  16.95  16.96     17   17.0  17.01
     1      1      1      1      6      3      7      1      2      2      3
  17.1  17.15  17.19   17.2   17.3  17.32   17.4  17.43   17.5  17.54   17.6
     6      1      1      3      6      1      1      1      3      2      4
 17.67  17.68   17.7  17.71  17.72   17.9  17.97     18   18.0   18.1  18.19
     1      1      2      5      1      3      3      5      3      2      2
  18.2   18.3  18.44   18.5  18.56   18.6  18.78  18.88   18.9     19   19.0
    10      2      2      6      2      9      2      3      8      1      3
 19.01  19.08   19.1  19.12  19.27   19.3  19.33  19.34   19.4  19.49   19.5
     4      1     11      2      1      7      4      1      6      3      6
 19.59   19.6  19.64   19.7  19.72  19.81  19.87  19.98  19.99  20.14   20.3
     2      2      4      1      2      2      5      5      4      3      1
 20.38   20.4  20.45   20.5  20.51  20.58   20.6  20.62  20.63  20.64   20.7
     4     11      1     11      3      1     11      1      2      3      7
 20.73  20.77   20.8  20.85   20.9     21  21.04   21.1  21.14  21.15  21.19
     5      1      4      1      1      6      4      6      4      2      2
  21.2   21.3  21.43   21.5  21.64  21.66  21.79   21.9  22.01  22.07  22.08
     7      1      3      3      5      3      1      1      1      1      1
  22.1   22.3  22.54   22.7  22.71  22.74  22.77   23.0  23.08   23.1   23.2
     8      2      5      5      5      7      2      5      9      7      3
  23.4   23.5  23.54  23.59   23.7   23.9   24.0  24.07   24.2   24.4   24.6
     3      5      1     10      2      7      4      5      6      5      2
  24.8     25   25.0   25.1   25.2  25.44   25.8  26.21   26.6  27.62   27.8
     1      1      5      1      4      4      5      4      1      4      2
  29.0   30.0  30.46  32.36    4.0     42    5.9    6.4      7    7.5   7.51
     1      1      3      1      2      2      3      1      1      1      1
  7.63   7.75   7.81      8    8.0   8.06   8.08    8.1    8.3    8.4    8.5
     1      1      1      1      4      1      1      1      1      1      2
   8.6    8.7      9    9.0    9.2   9.24   9.26    9.4    9.5    9.6
     1      2      2      4      1      1      1      1      2      1

In [143]:
table(cleaned_df$seats)

    10      2      4      5      6      7  7 & 8  7 & 9      8  8 & 7      9
     9     37     29    572      9    102     19      9     21      1      2
    No    Yes
     2      5

In [144]:
cleaned_df$seats <- as.character(cleaned_df$seats)

In [145]:
filter(cleaned_df, seats == " Yes")

               name                                            model    price
1      BMW 6 Series BMW 6 Series 640d Design Pure Experience(Diesel) 12190000
2 Mercedes-Benz CLA         Mercedes-Benz CLA 200 CDI Sport (Diesel)  3590000
3         Tata Nano                               Tata GenX Nano XTA   289000
4      Toyota Etios                       Toyota Etios V SP (Petrol)   673030
5         Volvo V40                   Volvo V40 D3 R-Design (Diesel)  2770000
       type engine    fuel weight clearance     bhp          rpm mileage_city
1     Coupe   2993  Diesel   2410       124    313          4400        14.54
2     Sedan   2143  Diesel   2005        NA    135     3600 4400         13.0
3 Hatchback    624  Petrol   <NA>       180   37.5   5250 - 5750         20.4
4     Sedan   1496  Petrol   <NA>       170  88.77          5600         13.5
5 Hatchback   1984  Diesel   1980       145    150          3500         23.6
  mileage_highway cylinders seats  transmission_type         brand gears
1           17.54         6   Yes  8 Speed Automatic           BMW     8
2            17.9         4   Yes  7 Speed Automatic Mercedes-Benz     7
3            23.9         2   Yes  4 Speed Automatic          Tata     4
4           16.78         4   Yes     5 Speed Manual        Toyota     5
5            27.8         5   Yes  6 Speed Automatic         Volvo     6
  transmission
1    Automatic
2    Automatic
3    Automatic
4       Manual
5    Automatic

In [146]:
filter(cleaned_df, seats == " No")

                    name                              model  price      type
1 Maruti Suzuki Alto 800 Maruti Suzuki Alto 800 Lx (Petrol) 284435 Hatchback
2  Maruti Suzuki Wagon-R         Maruti Wagon R LX (Petrol) 362917 Hatchback
  engine    fuel weight clearance     bhp   rpm mileage_city mileage_highway
1    796  Petrol   1285       160   47.3   6000         17.0           22.74
2    998  Petrol   1350       165  67.07   6200        17.08            20.5
  cylinders seats transmission_type  brand gears transmission
1         3    No    5 Speed Manual Maruti     5       Manual
2         3    No    5 Speed Manual Maruti     5       Manual

In [147]:

cleaned_df$seats[cleaned_df$seats == " Yes"] = " 5"
cleaned_df$seats[cleaned_df$seats == " No"] = " 5"

In [148]:
table(cleaned_df$seats)

    10      2      4      5      6      7  7 & 8  7 & 9      8  8 & 7      9
     9     37     29    579      9    102     19      9     21      1      2

In [149]:
table(cleaned_df$brand)

        Ashok         Aston          Audi       Bentley           BMW
            7             7            37             4            32
          Car     Chevrolet        Datsun       Ferrari          Fiat
           13            41             5             4            23
        Force          Ford       Gumpert         Honda       Hyundai
            4            30             1            36            56
        Isuzu        Jaguar   Lamborghini          Land      Mahindra
            1            13             1            16            43
       Maruti      Mercedes Mercedes-Benz          Mini    Mitsubishi
           97             2            30             6             2
          New        Nissan       Porsche       Renault         Rolls
           25            42            10            44             1
  Rolls-Royce           San         Skoda     Ssangyong          Tata
            1             1            27             4            86
       Toyota    Volkswagen         Volvo
           37            32            12

Refine

* brand
* seat capacity
* num cylinders
* type

In [150]:
head(cleaned_df)

                 name                                       model  price type
1 Ashok Leyland Stile       Ashok Leyland Stile LE 8-STR (Diesel) 749990  MPV
2 Ashok Leyland Stile       Ashok Leyland Stile LS 8-STR (Diesel) 799990  MPV
3 Ashok Leyland Stile       Ashok Leyland Stile LX 8-STR (Diesel) 829990  MPV
4 Ashok Leyland Stile       Ashok Leyland Stile LS 7-STR (Diesel) 849990  MPV
5 Ashok Leyland Stile Ashok Leyland Stile LS 7-STR Alloy (Diesel) 879990  MPV
6 Ashok Leyland Stile       Ashok Leyland Stile LX 7-STR (Diesel) 899990  MPV
  engine    fuel weight clearance  bhp   rpm mileage_city mileage_highway
1   1461  Diesel   2000       180  75   3300         16.2            20.7
2   1461  Diesel   2000       180  75   3300         16.2            20.7
3   1461  Diesel   2000       180  75   3300         16.2            20.7
4   1461  Diesel   2000       180  75   3300         16.2            20.7
5   1461  Diesel   2000       180  75   3300         16.2            20.7
6   1461  Diesel   2000       180  75   3300         16.2            20.7
  cylinders seats transmission_type brand gears transmission
1         4     8    5 Speed Manual Ashok     5       Manual
2         4     8    5 Speed Manual Ashok     5       Manual
3         4     8    5 Speed Manual Ashok     5       Manual
4         4     7    5 Speed Manual Ashok     5       Manual
5         4     7    5 Speed Manual Ashok     5       Manual
6         4     7    5 Speed Manual Ashok     5       Manual

In [151]:
by_name <- group_by(cleaned_df, name)

In [152]:
filtered_df <- slice(by_name,which.min(price))

In [153]:
head(filtered_df)

Source: local data frame [6 x 18]
Groups: name [6]

                      name                                   model    price
                    (fctr)                                  (fctr)    (dbl)
1      Ashok Leyland Stile   Ashok Leyland Stile LE 8-STR (Diesel)   749990
2      Aston Martin Rapide       Aston Martin Rapide LUXE (Petrol) 35000000
3    Aston Martin Rapide S          Aston Martin Rapide S (Petrol) 44000000
4 Aston Martin V12 Vantage Aston Martin V12 Vantage Coupe (Petrol) 35000000
5  Aston Martin V8 Vantage  Aston Martin V8 Vantage Coupe (Petrol) 13500000
6    Aston Martin Vanquish      Aston Martin Vanquish V12 (Petrol) 38500000
Variables not shown: type (fctr), engine (int), fuel (fctr), weight (fctr),
  clearance (dbl), bhp (chr), rpm (chr), mileage_city (fctr), mileage_highway
  (fctr), cylinders (chr), seats (chr), transmission_type (fctr), brand (fctr),
  gears (dbl), transmission (chr)

mileage fill na with mean

In [154]:
filtered_df$mileage_city <- as.numeric(as.character(filtered_df$mileage_city))
filtered_df$mileage_highway <- as.numeric(as.character(filtered_df$mileage_highway))

Warning message:
In eval(expr, envir, enclos): NAs introduced by coercion

In [155]:
table(filtered_df$mileage_city)

  1.2     2     4     5   5.3   5.5   5.6   5.7   5.8     6  6.13   6.2   6.4
    1     2     2     1     1     1     2     1     1     3     1     1     1
  6.5   6.9     7  7.14  7.16   7.2  7.32   7.7   7.9     8  8.03  8.19   8.4
    1     1     2     1     1     2     1     1     1     2     1     2     2
  8.9     9   9.2   9.5   9.8    10  10.5  10.7  10.8  10.9  11.3 11.38  11.4
    1     2     1     1     1     2     1     1     1     1     1     1     2
 11.8  11.9    12 12.02 12.08  12.2  12.3 12.82    13  13.2  13.3  13.4 13.45
    1     2     4     1     1     1     2     1     3     1     2     1     1
 13.5  13.7    14  14.1 14.21 14.25  14.3 14.44 14.54  14.7    15  15.1 15.16
    4     1     1     1     1     1     1     1     1     1     4     1     1
15.54  15.6  15.7 15.77  15.9 16.08  16.2 16.24  16.3  16.8    17 17.08  17.1
    1     1     1     1     2     1     2     1     2     1     2     2     1
 17.2  17.9 18.08    19 19.03  20.2  20.4  23.6    28
    1     1     1     2     1     1     1     1     1

In [156]:
filtered_df$mileage_city[is.na(filtered_df$mileage_city)] = mean(filtered_df$mileage_city, na.rm=T)
filtered_df$mileage_highway[is.na(filtered_df$mileage_highway)] = mean(filtered_df$mileage_highway, na.rm=T)

In [157]:
print(mean(filtered_df$mileage_city))
print(mean(filtered_df$mileage_highway))

[1] 11.83425
[1] 15.35149

In [158]:
table(filtered_df$mileage_city)

     1.2        2        4        5      5.3      5.5      5.6      5.7
       1        2        2        1        1        1        2        1
     5.8        6     6.13      6.2      6.4      6.5      6.9        7
       1        3        1        1        1        1        1        2
    7.14     7.16      7.2     7.32      7.7      7.9        8     8.03
       1        1        2        1        1        1        2        1
    8.19      8.4      8.9        9      9.2      9.5      9.8       10
       2        2        1        2        1        1        1        2
    10.5     10.7     10.8     10.9     11.3    11.38     11.4     11.8
       1        1        1        1        1        1        2        1
11.83425     11.9       12    12.02    12.08     12.2     12.3    12.82
      83        2        4        1        1        1        2        1
      13     13.2     13.3     13.4    13.45     13.5     13.7       14
       3        1        2        1        1        4        1        1
    14.1    14.21    14.25     14.3    14.44    14.54     14.7       15
       1        1        1        1        1        1        1        4
    15.1    15.16    15.54     15.6     15.7    15.77     15.9    16.08
       1        1        1        1        1        1        2        1
    16.2    16.24     16.3     16.8       17    17.08     17.1     17.2
       2        1        2        1        2        2        1        1
    17.9    18.08       19    19.03     20.2     20.4     23.6       28
       1        1        2        1        1        1        1        1

In [159]:
unique(filtered_df$engine)

 [1] 1461 5935 4735 1968 2967 1984 2995 4163 3993 5998 1995 2993 1499 2979 4395
[16] 2231 1998 1399 1199  995 2499 1198 4499 5999 4297 6262 1368 1172 2650 1596
[31] 1498 1196 1497 1997   NA 1797  814 1197 1086 2199 2359 2999 2179 1999 5204
[46] 2523    3 1493 2489  998  796 1373 2393 1298 1248 1586 2143 1595 1991 5461
[61] 2987 3496 3498 6208 1496 1598 2477 1396 1798 2496 3436 6592 1149 1395 2696
[76] 1193 1405  624 2956 1948 2982 1390 3597 1969

In [160]:
filtered_df$model[is.na(filtered_df$engine)]

[1] Honda jazz – Expected Specification
[2] Tata Bolt Revotron 1.2T XE (Petrol)
[3] Volkswagen Taigun -Expected Specification
832 Levels: Ashok Leyland Stile LE 8-STR (Diesel) ...

In [161]:
table(filtered_df$engine)

   3  624  796  814  995  998 1086 1149 1172 1193 1196 1197 1198 1199 1248 1298
   1    1    2    1    1    5    1    1    1    3    2    8    9    4    2    1
1368 1373 1390 1395 1396 1399 1405 1461 1493 1496 1497 1498 1499 1586 1595 1596
   4    2    1    1    1    1    2    7    1    3    3    3    2    1    1    1
1598 1797 1798 1948 1968 1969 1984 1991 1995 1997 1998 1999 2143 2179 2199 2231
   8    1    2    1    6    2    5    3    7    1    2    1    5   10    1    1
2359 2393 2477 2489 2496 2499 2523 2650 2696 2956 2967 2979 2982 2987 2993 2995
   1    2    1    1    1    2    3    1    1    1    3    2    1    2    8    3
2999 3436 3496 3498 3597 3993 4163 4297 4395 4499 4735 5204 5461 5935 5998 5999
   1    3    1    2    1    3    3    1    2    1    1    1    1    4    4    1
6208 6262 6592
   1    1    2

In [162]:
filtered_df$engine[is.na(filtered_df$engine)] = 1198

In [163]:
filtered_df$engine <- as.numeric(as.character(filtered_df$engine))

In [186]:
filtered_df$fuel_type = -1
filtered_df$fuel_type[filtered_df$fuel == ' Petrol'] = 0
filtered_df$fuel_type[filtered_df$fuel == ' Diesel'] = 1
filtered_df$fuel_type[filtered_df$fuel == ' CNG'] = 2
filtered_df$fuel_type[filtered_df$fuel_type == -1] = 0

In [187]:
unique(filtered_df$fuel_type)

[1] 1 0 2

In [188]:
write.csv(filtered_df, file = "data/cars.tidy.csv", row.names = FALSE)